<template>

  <q-page class="flex flex-start">
    <div class="full-width q-pa-xs">
      <div class="row justify-center" style="height: 164px">
        <q-img 
        :src="logoUrl"
        width="300px"
        /> 
      </div>
      <div class="row justify-center full-width q-mt-md">
        <div class="" style="width: 800px; max-width: 90%">
            <search-bar></search-bar>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import SearchBar from "components/searchbar"
import HotButton from "components/hotbutton"
import logoColor from "../../mixins/logoColor"
import { fmGetCharts } from "components/databases/lastfm"


export default {
  name: 'IndexPage',

  mixins: [logoColor],

  components: {
    SearchBar,
    HotButton
  },
  
}
</script>

