<template>
  <q-page class="flex flex-start">
    <q-list class="fit column justify-center items-center">
      <q-item>
        <q-item-section class="text-h2">Settings</q-item-section>
      </q-item>

      <q-item>
        <q-item-section class="text-h5 q-mt-xl">Theme</q-item-section>
      </q-item>

      <q-item>
        <q-btn-toggle
          :options="themeOptions"
          type="radio"
          dark
          toggle-color="dark"
          style="border: 0.5px solid white"
          v-model="theme"
        />
      </q-item>

      <q-item class="q-mt-xl">
        <q-item-section class="text-h5 q-mt-md">Translate</q-item-section>
      </q-item>
      
      <q-item>
        <q-item-section style="width: 250px">
          <q-select 
          disable
          v-model="translateBackEnd"
          transition-show="flip-up"
          transition-hide="flip-down"
          :options="backEndOptions" label="Translate backend"/>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section style="width: 250px">
          <q-select 
          disable
          v-model="translateTo" 
          transition-show="flip-up"
          transition-hide="flip-down"
          :options="toOptions" 
          label="Translate to"/>
        </q-item-section>
      </q-item>

    </q-list>
  </q-page>
</template>

<script>
import { Dark, LocalStorage } from "quasar"

export default {
  name: 'SettingsPage',

  data() {
    return {
      theme: LocalStorage.getItem("darkMode"),
      themeOptions: [
        { label: 'Auto', value: 'auto',  },
        { label: 'Dark', value: true},
        { label: 'Light', value: false}],
      translateBackEnd: "Yandex",
      backEndOptions: [
        { label: "Google", value: 'google', },
        { label: "Yandex", value: 'yandex', },
      ],
      translateTo: "RU",
      toOptions: [
        { label: 'RU', value: 'ru' },
        { label: "ENG", value: 'eng' },
        { label: "PL", value: 'pl' }
      ]
    }
  },


  watch: {
    
    theme() {
      LocalStorage.set("darkMode", this.theme)
      this.setTheme(LocalStorage.getItem("darkMode"))
    },
  },

  methods: {

    setTheme(col) {
      Dark.set(col)
      LocalStorage.set("darkMode", Dark.isActive)
      let value = LocalStorage.getItem("darkMode")
      if (Dark.isActive) {
        document.body.style.setProperty('--q-color-primary', 'white')
        document.body.style.setProperty('--q-color-secondary', 'black')
      }
      else {
        document.body.style.setProperty('--q-color-primary', 'black')
        document.body.style.setProperty('--q-color-secondary', 'white')
      }
    }
    
  },

}
</script>

<style scoped>
</style>
