<template>
  <div>
    <q-ajax-bar
        ref="routeBar"
        position="top"
        reverse
        color="primary"
        size="2px"
        skip-hijack
        />
  <q-btn round dense flat text-color="primary" icon="whatshot" @click="hot_dialog = true"></q-btn>  
  <q-dialog v-model="hot_dialog" position="right">
    <div class="bg-secondary q-pa-sm">
    <q-list background>
      <q-item>
        <q-item-section avatar>
          <q-icon color="red" name="whatshot"></q-icon>
        </q-item-section>
        <q-item-section>
          <q-item-label>Top 10 tracks</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-icon color="red" name="whatshot"></q-icon>
        </q-item-section>
      </q-item>
      <q-item
      clickable
      dense
      v-for="chart in charts" 
      :key="chart.title"
      @click="routeTo(chart)"
      >
        <q-item-section>
            {{ chart.artist }} - {{ chart.title }}
        </q-item-section>
      </q-item>
    </q-list>
    </div>
  </q-dialog>
  </div> 
</template>

<script>
import { Notify, copyToClipboard } from 'quasar'
import { fmGetCharts } from "components/databases/lastfm"
import { geniusSearch } from "components/databases/genius"

export default {
    name: 'HotButton',
    data() {
        return {
            charts: '',
            expanded: false,
            hot_dialog: false,
        }
    },

    mounted() {
      this.getCharts()
    },
    methods: {
        async routeTo(chart) {
          this.$refs.routeBar.start()
          let name = `${chart.artist} - ${chart.title}`
            let songs = await geniusSearch(name)
            this.$router.push(`/songs/${songs[0].id}`)
          this.$refs.routeBar.stop()
        },

        async getCharts() {
          this.charts = await fmGetCharts();
        }
    }
}
</script>