<template>
    <q-select
              filled
              v-model="query"
              @input="routeTo(query.id)"
              use-input
              hide-selected
              fill-input
              :options="songs"
              @filter="filterFn"
              class="full-width flex flex-center"
              style="padding-bottom: 32px;"
            >

              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No results
                  </q-item-section>
                </q-item>
              </template>

              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                >
                
                  <q-item-section avatar>
                    <q-img :src="scope.opt.cover_image" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-html="scope.opt.label" ></q-item-label>
                  </q-item-section>
                </q-item>
              </template>

              

            </q-select>
</template>

<script>
import { geniusSearch } from "./databases/genius"

export default {
    name: "SearchBar",

    data() {
        return {
            songs: [],
            query: '',
        }
    },

    methods: {
    
    async filterFn(val, update, abort) {
        const songs = await geniusSearch(val)
        update(async () => {
        this.songs =  songs
      })
    },

    routeTo(val) {
        if(this.$route.fullPath != `/songs/${val}`) {
            this.$router.push(`/songs/${val}`)
            this.query = ""
        }
    }
  },
}
</script>