<template>

    <div class="fit q-mx-auto q-mt-sm content-center"
    align="center"
    style="max-width: 100%; height: 80vh">
        <q-ajax-bar
        ref="bar"
        position="left"
        color="primary"
        size="2px"
        skip-hijack
        />
        <q-ajax-bar
        ref="routeBar"
        position="top"
        reverse
        color="primary"
        size="2px"
        skip-hijack
        />
    <q-img v-if="'song.cover_image' && routing" class="gradient" :src="song.cover_image"/>
        <q-scroll-area
        :visible='false'
        class="row q-mt-md"
        style="width: 100%; height: 80vh; background: transparent"
        > 
            <div v-if="song.cover_image" align="center">   
                <div class="text-h5"> 
                    {{ song.title }} by {{ song.artist }} 
                </div>     
                <!-- Carousel with platforms -->
                <providers
                :song="song" 
                />

                <!-- Lyrics -->
                <div v-if="song.lyrics" style="max-width: 100%">
                    
                    <lyrics :lyrics="song.lyrics"></lyrics>

                    <div v-if="similarSongs.length != 0">
                        <div class="text-h6 q-mt-md">Similar Songs: </div>
                        <q-carousel 
                        v-model="slide"
                        infinite
                        arrows 
                        control-color="primary"
                        transition-prev="scale"
                        transition-next="scale"
                        swipeable
                        animated
                        style="height: 80px; background-color: transparent; width: 400px; max-width: 100%">
                            <q-carousel-slide 
                            v-for="similarSong in similarSongs" 
                            :key="similarSong.title" 
                            :name="similarSong.title"
                            >
                                <q-item 
                                class=""
                                clickable 
                                @click="routeTo(similarSong)" 
                                style="max-width: 85%; border-radius: 25px">
                                    <q-item-section avatar>
                                <q-img :src="similarSong.image"/>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label> {{ similarSong.artist }} - {{ similarSong.title }}</q-item-label>
                                </q-item-section>
                                </q-item>
                            </q-carousel-slide>
                        </q-carousel>
                    </div>
                </div>
                <div v-else>
                    <q-spinner-tail color="primary" size="10em" class="q-ma-xl" />
                </div>
            </div>
            <div v-else>
                <q-spinner-tail color="primary" size="10em" class="q-ma-xl" />
            </div>
        </q-scroll-area>
    </div>
</template>

<script>
import Providers from "./providers.vue"
import Lyrics from "./lyrics.vue"
import { geniusGetLyrics, geniusGetSong, geniusSearch } from "components/databases/genius"
import { fmGetSimilar } from "components/databases/lastfm"
import { QAjaxBar } from "quasar"

export default {
    name: "SongPage",

    components: {
        Providers,
        Lyrics
    },

    data() {
        return {
            song: {
                id: "",
                artist: "",
                title: "",
                album: "",
                path: "",
                platforms: "",
                cover_image: null,
                lyrics: null,
            },
            routing: true,
            similarSongs: '',
            slide: '',
        }
    },

    watch: {
        async song () {
            this.song.lyrics = await geniusGetLyrics(this.song.path);
            this.$refs.bar.stop()
        },

        $route() {
            if(this.$route.path == `/songs/${this.song.id}`) 
            setTimeout(() => {this.routing = true}, 550)
            else this.routing = false
        },
    },

    mounted() {
        this.init()
        this.$refs.bar.start()
    },

    methods: {
        async init() {
            this.song = await geniusGetSong(this.$route.params.id)
            this.similarSongs = await fmGetSimilar(this.song.artist, this.song.title)
            if (this.similarSongs.length != 0)
            this.slide = this.similarSongs[0].title
        },

        async routeTo(chart) {
          this.$refs.routeBar.start()
          let name = `${chart.artist} - ${chart.title}`
            let songs = await geniusSearch(name)
            this.$router.push(`/songs/${songs[0].id}`)
          this.$refs.routeBar.stop()
        },
    },

}
</script>

<style scoped>
    .gradient {
        position: absolute !important;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        max-height: 77vh;
        filter: blur(5px);
        background-size: 100% 100%;
        mask-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2), rgba(0,0,0,0));
    }
</style>