<template>
    <div>
        <q-btn @click="translation = !translation" :label="translation ? 'Original' : 'Translate lyrics'"></q-btn>
        <div
        v-for="lyric in lyrics" 
        :key="lyric.id">
        <div v-if="!translation" class="lyrics q-px-auto q-mx-auto q-my-md" 
        @click="selectLyric(lyric.lyric)" 
        style="width: 300px; max-width: 95%"
        v-html="lyric.lyric"></div>

        <div v-else class="lyrics q-px-auto q-mx-auto q-my-md" 
        @click="selectLyric(lyric.translatedLyric)" 
        style="width: 300px; max-width: 95%"
        v-html="lyric.translatedLyric"></div>
        </div>
    </div>
        </template>
    </template>
</template>

<script>
import { copyToClipboard, Notify } from "quasar"
import axios from "axios"
import { translateLyrics, detectLanguage } from "components/translate"

export default {
    name: "Lyrics",

    data() {
        return {
            translation: false,
        }
    },

    props: {
        lyrics: {
            type: Array,
            required: true
        }
    },

    mounted() {
        this.getTranslation()
    },

    methods: {
        
        async selectLyric(item) {
            item = item.replace(/(<br>|<BR>)/g, '\n')
            item = item.replace(/\[(.*)\]/ig, '')
            copyToClipboard(item)
            Notify.create({
                position: "top",
                message: "Copied to clipboard",
                group: false,
                timeout: 100,
                color: "primary",
                textColor: "secondary",
                progress: true,
            })
        },

        async getTranslation() {
            let lang = await detectLanguage(this.lyrics[0].lyric)
            await this.lyrics.forEach(async item => {
                item.translatedLyric = await translateLyrics(item.lyric, lang)
            });
        }
    }
}
</script>

<style scoped>
    .lyrics:hover {
        background-color: rgba(167, 167, 167, 0.3)
    }
</style>