<template>
    <div
    class="q-my-md"
    style="max-width: 90%;"
    >
    <q-responsive :ratio="16/9" style="width: 500px; max-width: 100%;">
      <q-carousel
      v-if="deezerLoaded"
      keep-alive
      infinite
      animated
      transition-next="slide-left"
      transition-prev="slide-right"
      v-model="slide"
      style="background: transparent;"
      >
        <!-- Active Slide With Poster-->
        <q-carousel-slide name="poster" :ratio="1" style="">
          <div style="width: 250px; max-width: 50%">
            <q-img
            :ratio="1"
            :src='song.cover_image'
            />
          </div>
        </q-carousel-slide>
        
        <!-- Init slides for each existing platform-->
        <q-carousel-slide v-for="item in providerOptions" :key="item.value" :name="item.value" >
          
            <!-- Youtube Slide-->
            <q-video
                class="absolute-full"
                v-if="item.value == 'youtube'"
                :src="`https://www.youtube.com/embed/${extractYoutubeID(item.url)}?autoplay=0&controls=1`"
            />
            <div 
            :ratio="1"
            v-if='item.value == "deezer"'>
              <q-video
                  class="absolute-center"
                  :src="item.url"
                  style="background-color: transparent; width: 450px;max-width: 100%; height: 62px;"
              />
            </div>
            <!-- Spotify Slide-->
            <q-video
                class="absolute-full"
                v-if="item.value == 'spotify'"
                :src="`https://open.spotify.com/embed/track/${extractSpotifyID(item.url)}`"
            />

            <!-- Soundcloud Slide-->
            <div v-if="soundcloudUrl">
              <q-video
                class="absolute-full"
                v-if="item.value == 'soundcloud'"
                :src="`https://w.soundcloud.com/player/?url=${soundcloudUrl}`"
              />
            </div>
            
        </q-carousel-slide>
            
      </q-carousel>
      <div v-else style="width: 250px; max-width: 50%">
            <q-img
            :ratio="1"
            :src='song.cover_image'
            style="width: 250px;fetch max-width: 50%"
            />
          </div>
    </q-responsive>

        <div class="row justify-center">

        <!-- Buttons -->
        <q-btn-toggle
            v-model="slide"
            text-color="primary"
            v-if="deezerLoaded"
            class="q-my-md"
            toggle-text-color="secondary"
            :options="providerOptions"
        >

        <!-- Poster Button -->
        <template 
        v-slot:posterSlot>
          <div class="row items-center no-wrap">            
            <q-icon name="image" />
          </div>
        </template>

        <!-- Deezer Button -->
        <template v-slot:deezerSlot>
          <div class="row items-center no-wrap">            
            <q-icon name='img:statics/deezer.png'/>
          </div>
        </template>

        <!-- Youtube Button -->
        <template v-slot:youtubeSlot>
          <div class="row items-center no-wrap">            
            <q-icon name='img:statics/youtube.png'/>
          </div>
        </template>

        <!-- Spotify Button -->
        <template v-slot:spotifySlot>
          <div class="row items-center no-wrap">            
            <q-icon name='img:statics/spotify.png'/>
          </div>
        </template>
        
        <!-- SoundCloud Button -->
        <template v-slot:soundcloudSlot>
          <div class="row items-center no-wrap">            
            <q-icon name='img:statics/soundcloud.png'/>
          </div>
        </template>

        
        </q-btn-toggle>
        </div>
    </div>
</template>

<script>

export default {
    name: "Providers",
    
    props: {
        song: Object,
    },

    data() {
        return {
            isDeezer: false,
            slide: 'poster',
            soundcloudUrl: '',
            deezerLoaded: false,
            providerOptions: []
        }
    },

    created() {
        this.setOptions();
        this.Deezer();
    },


    methods: {

      /** Importing options for Btn-Toggle from song.platforms*/
        setOptions() {
            this.providerOptions.push(
              {value: "poster", slot: "posterSlot", url: this.song.cover_image}
            )

            this.song.platforms.forEach(item => {
                if(item.provider == 'soundcloud') {
                  this.extractSoundcloudUrl(item.url)
                }
                this.providerOptions.push({
                    value: item.provider,
                    slot: item.provider + `Slot`,
                    url: item.url,
                })
            });
        },

    /** Extracting Youtube ID from URL */
    extractYoutubeID (url) {
      return url.split('=').pop()
    },

    /** Extracting Spotify ID from URL */
    extractSpotifyID (url) {
      return url.split('/').pop()
    },

    async Deezer() {
      this.deezerLoaded = false;
      const resp = await fetch(`https://cors-anywhere.herokuapp.com/https://api.deezer.com/search?q=artist:"${this.song.artist}" track:"${this.song.title}"`)
      const data = await resp.json()
      if (data.data.length > 0) {
        this.isDeezer = true;
        this.providerOptions.push(
          {value: "deezer", 
          slot: "deezerSlot", 
          url: `https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=false&width=250&color=ff0000&layout=dark&type=tracks&id=${data.data[0].id}&app_id=dark`}
        )
      } else {
        this.isDeezer = false;
      }
      this.deezerLoaded = true;
    },

    async extractSoundcloudUrl(url) {
      
      const resp = await fetch(`https://api.soundcloud.com/resolve?url=${url}&client_id=Uz4aPhG7GAl1VYGOnvOPW1wQ0M6xKtA9`)
      this.soundcloudUrl = resp.url
    }
    }
}
</script>