<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import Vue from "vue"
import { LocalStorage } from 'quasar'

export default {
  name: 'App',
  created () {
    let value = LocalStorage.getItem("darkMode")
    this.$q.dark.set(value)
    document.body.style.setProperty('--q-color-primary', value?'white':'black')
    document.body.style.setProperty('--q-color-secondary', value?'black':'white')
  }
}
</script>

<style>

html, body {
  transition: all 0.5s ease-in-out;
}

#q-app {
  height: 100vh;
}
</style>
