<template>
  <q-layout view="hHr Lpr lFf">
    <q-header style="background: transparent; height: 10vh">
      <q-toolbar>
        <div v-show="this.$route.path != '/'" class="">
        <q-btn 
          @click="goBack()"
          text-color="primary"
          flat 
          bordered
          round
          dense
          icon="navigate_before"/>
        <q-btn
          to="/"
          text-color="primary"
          flat
          bordered
          round
          dense
          icon="home"/>
        <q-img 
        class="q-mt-sm q-mx-sm"
          :src = logoUrl 
          width="92px"
          style="max-width: 15vw"/>
        
        
          </div>
      <q-toolbar-title align="right">
        <vue-page-transition name="fade">
        <search-bar 
        v-if="this.$route.path != '/'"
        style="height: 32px; padding-bottom: 0px; max-width: 100%;">
        </search-bar>
        </vue-page-transition>
      </q-toolbar-title>
      <hot-button class="q-mx-auto"></hot-button>
      <q-btn 
      to="/settings"
      text-color="primary"
      flat 
      round 
      dense 
      class="toSettings"
      icon="settings" 
      />
      
      </q-toolbar>
      
    </q-header>

    <q-page-container>
      <vue-page-transition name="fade">
        <keep-alive>
          <router-view :key="this.$route.fullPath"/>
        </keep-alive>
      </vue-page-transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Dark } from "quasar"
import SearchBar from "components/searchbar"
import HotButton from "components/hotbutton"
import Vue from "vue"
import VuePageTransition from 'vue-page-transition'
import logoColor from "../mixins/logoColor"
 
Vue.use(VuePageTransition)


export default {
  name: 'MainLayout',

  mixins: [logoColor],

  components: {
    SearchBar,
    HotButton
  },

  data () {
    return {
      routeCheck: false,
    }
  },

  methods: {
    goBack() {
      history.back()
    },
  }
}
</script>
